{{ if eq .chezmoi.os "linux" -}}
{{ if stat (joinPath .chezmoi.homeDir ".config/chezmoi/sudoless") -}}
#!/bin/sh

exit 0
{{ end -}}
#!/bin/bash

# TODO: Add zsh binary for sudoless install next time
# https://github.com/romkatv/zsh-bin

# Check if zsh is installed
if ! command -v zsh &>/dev/null; then
  echo "zsh is not installed. Installing zsh..."

  if command -v brew &>/dev/null; then
    brew install zsh
  else
    {{ if eq .chezmoi.osRelease.id "arch" -}}
    sudo pacman -S --noconfirm zsh
    {{- else -}}
    sudo apt-get install zsh -y
    {{ end }}
  fi

  # Verify if zsh was successfully installed
  if ! command -v zsh &>/dev/null; then
    echo "Failed to install zsh. Please install it manually."
    exit 1
  fi

  # add zsh to /etc/shells
  echo $(which zsh) | sudo tee -a /etc/shells
else
  echo "zsh is already installed."
fi

# Change the default shell to zsh
grep -q "$(which zsh)" /etc/shells || echo "$(which zsh)" | sudo tee -a /etc/shells

if [ "$SHELL" != "$(command -v zsh)" ]; then
  sudo chsh -s "$(command -v zsh)" "$(whoami)"
fi
{{ end }}
