{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Define the target directory
TPM_DIR="$HOME/.config/tmux/plugins/tpm"

# Check if the directory exists
if [ -d "$TPM_DIR" ]; then
    echo "Tmux Plugin Manager! already installed. Pulling latest changes..."
    git -C "$TPM_DIR" pull
else
    echo "Tmux Plugin Manager not found. Cloning repository..."
    git clone https://github.com/tmux-plugins/tpm "$TPM_DIR"
fi
{{ end -}}
