{{ if eq .chezmoi.os "linux" -}}
{{ if lookPath "gnome-shell" -}}
#!/bin/bash

echo "Running desktop setup script."

# Only runs on Linux with a desktop environment (gnome for now)
# Package installation
# ghostty
if ! snap list ghostty >/dev/null 2>&1; then
  echo "Installing ghostty."
  sudo snap install ghostty --classic
fi
# keyd
if ! dpkg -s keyd >/dev/null 2>&1; then
  echo "Installing keyd."
  sudo add-apt-repository ppa:keyd-team/ppa -y
  sudo apt update
  sudo apt install keyd -y
  sudo systemctl enable keyd && sudo systemctl start keyd
fi

# root owned files in etc (quick hack, should probably find a better way to do this)
# currently, we just overwrite on chezmoi apply
# keyd configuration
if [ ! -d /etc/keyd ]; then
  sudo mkdir -p /etc/keyd
fi
if ! cmp -s "${HOME}/.config/etcfiles/keyd/default.conf" /etc/keyd/default.conf; then
  echo "Overwriting keyd configuration and restarting it."
  sudo cp "${HOME}/.config/etcfiles/keyd/default.conf" /etc/keyd/default.conf
  sudo systemctl restart keyd
fi

{{ end -}}
{{ end -}}
