{{ if eq .chezmoi.os "linux" -}}
{{ if stat (joinPath .chezmoi.homeDir ".config/chezmoi/lite") -}}
#!/bin/bash

sudo apt update && sudo apt upgrade -y

# Configure tzdata (for vim)
sudo ln -sf /usr/share/zoneinfo/Asia/Kuala_Lumpur /etc/localtime
echo "Asia/Kuala_Lumpur" | sudo tee /etc/timezone
sudo apt install tzdata -y
sudo dpkg-reconfigure -f noninteractive tzdata

sudo apt install vim ugrep tmux autossh tree rlwrap zsh -y
mise install -qy --raw

git clone --depth=1 https://github.com/mattmc3/antidote.git ${ZDOTDIR:-$HOME}/.antidote

# fpp
if [ ! -d "/usr/local/PathPicker" ]; then
    sudo git clone https://github.com/facebook/PathPicker.git /usr/local/PathPicker
fi
sudo ln -sf /usr/local/PathPicker/fpp /usr/local/bin/fpp

{{ end -}}
{{ end -}}
