{{- if eq .chezmoi.os "windows" }}
winget install --id=AutoHotkey.AutoHotkey
winget install LGUG2Z.komorebi
winget install GlazeWM
winget install --id=Starship.Starship -e
winget install --id=DEVCOM.JetBrainsMonoNerdFont -e
winget install --id=JesseDuffield.lazygit -e
winget install --id=CoreyButler.NVMforWindows -e
winget install --id=MartinStorsjo.LLVM-MinGW.UCRT -e
winget install --id=sharkdp.fd -e
winget install --id=BurntSushi.ripgrep.GNU -e
winget install --id=Rustlang.Rust.GNU -e
winget install --id=Neovim.Neovim -e
powershell -ExecutionPolicy Bypass -NoProfile -Command ". $PROFILE"
{{ end -}}
