{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt install jq -y
brew install fzf zoxide lazygit lazydocker
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
brew install jq fzf zoxide lazygit lazydocker 
{{ end -}}

